@media screen and (min-width: 0px) and (max-width: 170px) {
    html {
        font-size: .5%;
    }
    #addcontbtn {
        font-size: 12rem;
    }
}
@media screen and (min-width: 171px) and (max-width: 390px) {
    html {
        font-size: 1.2%;
    }
    #addcontbtn {
        font-size: 15rem;
    }
}
@media screen and (min-width: 391px) and (max-width: 650px) {
    html {
        font-size: 2.5%;
    }
    #addcontbtn {
        font-size: 18rem;

    }
}
@media screen and (min-width: 651px) and (max-width: 900px) {
    html {
        font-size: 3.8%;
    }
    #addcontbtn {
        font-size: 23rem;
    }
}
@media screen and (min-width: 900px) and (max-width: 1150px) {
    html {
        font-size: 5%;
    }
}